{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "airbnb-base",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"
    ],
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest/globals": true
    },
    "plugins": [
        "react",
        "jest",
        "jsx-a11y",
        "import",
        "@typescript-eslint"
    ],
    "globals": {
        "graphql": true
    }
}
